body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
}
h1{
    font-size: 40px;
    margin-top: 50px;

}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-right: 5px;

}
.half-width img{
    width: 70%;
    height: 70%;
}
.linked-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue, brown);
    padding: 10px 50px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    align-items: center;
    margin-bottom: 50px;
}
.sec-two{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
.sec-div{
    width: 50%;
    margin-left: 20px;
}
.sec-div img{
    width: 70%;
    height: 70%;
    
}
